<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}MNR{% endblock %}</title>
    <link href='{{url_for('static', filename="css/bootstrap.css")}}' rel="stylesheet">
    <link href='{{url_for('static', filename="css/fontawesome.css")}}'>
    <link href='{{url_for('static', filename="css/style.css")}}' rel="stylesheet">
    <link rel="shortcut icon" href="{{url_for('static',filename='eye.ico')}}">

</head>
<body>
{% block content %} {% endblock content %}
<footer>
        <p>Copyright &copy; | All Rights Reserved by <a class="footer-a" href="https://mnr-dev.herokuapp.com">Mnr</a></p>
</footer>
<script src='static/js/popper.js'></script>
<script src='static/js/jquery.js'></script>
<script src='static/js/bootstrap.js'></script>
<script src='static/js/fontawesome.js'></script>
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>
<script src='static/js/script.js'></script>
</body>
</html>
